.module-chat{
    padding: 7px; 
    border: .2rem solid #cedcea;
    display: inline-block;
    overflow: auto;
    height: 570px;
    width: 100%;
}
.chatMessage{
    margin-bottom: 3px;
}
.chatTime{
    font-style: italic;
    font-weight: normal;
}
.chat-input{
    position: fixed;
    width: 25%;
    height: 40px;
}
.ds-input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.chatContainer{
    margin-top: 10%;
}
.heroName{
    font-weight: bold;
}
.chatForm{
    margin-top: 2%;
}
.chatInput{
    width: 77%;
}
.btnChat{
    width: 23%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    vertical-align: bottom;
}
h3{
    padding-left: 30px;
}