.module-hero{
    width: 100%;
    padding: 7px;
    margin: 10px;
    border: .2rem solid #cedcea;
    display: inline-block;
}
.inline{
    display: inline-block;
}
.h2{
    margin-left: 2% !important;  
}
.mrg{
    margin: 1%;
}
button.list-group-item{
    width: auto !important ;
}
.btnNew{
    margin-left: 8px;
}
.heroAttr{
    margin: 0 5px 0 5px;
} 
.stats{
    font-size: 20px;
}
.heroType{
    font-style: italic;
    text-transform: capitalize;
}
.heroStr{
    color: #d02f2f;
}
.heroAgi{
    color: #35d235;
}
.heroInt{
    color: #0b4eeb;
}
.heroStr.str{
    font-size: 26px;
}
.heroAgi.agi{
    font-size: 26px;
}
.heroInt.int{
    font-size: 26px;
}