<div class="row">
    <div class="col-xs-12">
        <span class="module-hero">
          <h2 class="list-group-item-heading heroAttr h2">{{ this.hero?.name }} </h2>
            <p class="list-group-item-text heroAttr stats">
                  <span class="heroStr {{this.hero?.type}}">{{this.hero?.str}} <i *ngIf="this.hero?.type == 'str'" class="fas fa-fist-raised"></i></span> / 
                  <span class="heroAgi {{this.hero?.type}}">{{this.hero?.agi}} <i *ngIf="this.hero?.type == 'agi'" class="fas fa-crow"></i></span> / 
                  <span class="heroInt {{this.hero?.type}}">{{this.hero?.int}} <i *ngIf="this.hero?.type == 'int'" class="fas fa-brain"></i></span> stats
            </p>
            <div class="text-center">
                <button class="btn btn-default btn-success inline mrg" (click)="train('agi')"><i class="fas fa-crow"></i> Courir sur un tapis roulant</button>
                <button class="btn btn-default pull-right btn-primary inline mrg" (click)="train('int')"><i class="fas fa-brain"></i> Faire des sudokus</button>
                <button class="btn btn-default pull-left btn-danger inline mrg" (click)="train('str')"><i class="fas fa-fist-raised"></i> Pousser de la fonte</button>
            </div>
        </span><br><br>
      <button class="btn btn-primary btnBack" (click)="onBack()">Retour</button>
    </div>
  </div>