<div class="row">
    <div class="col-xs-12">
      <h3>Global chat</h3>
      <div class="module-chat">
          <p class="chatMessage">
            <span class="heroName">Yoloswag : </span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod ac dui et placerat. Nulla eu egestas ipsum. Integer pharetra sapien vitae justo facilisis, et malesuada libero congue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam non sapien tincidunt, aliquet purus non, pretium justo. Cras congue lectus lacinia lorem venenatis egestas. Proin commodo facilisis pharetra.
          </p>
          <p class="chatMessage">Message2</p>
          <p class="chatMessage">Message3</p>
          <p class="chatMessage">Message4</p>
      </div>
      <form class="bd-search d-flex align-items-center">
          <span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr;">
              <input type="text" class="form-control ds-input" id="chat-input" placeholder="Type your message here">
          </span>
      </form>
    </div>
  </div>