.module-chat{
    padding: 7px; 
    border: .2rem solid #cedcea;
    display: inline-block;
}
.chatMessage{
    margin-bottom: 3px;
}

.chatContainer{
    margin-top: 10%;
}
.heroName{
    font-weight: bold;
}