<app-header></app-header>
<div class="container flex">
    <div class="size75 inlined">
        <router-outlet></router-outlet>
    </div>
    <div class="size25 inlined">
        <app-chat></app-chat>
        <!-- <h2>la todolist redux style !</h2>
            <ul>
                <li *ngFor="let chat of (chat$ | async)?.data">
                    <label>{{ chat.heroName }}</label>
                    <p><span>{{chat.date}} :</span> {{chat.content}}</p>
                </li>
            </ul> -->
    </div>
</div>